<ul class="team-thumbnail d-flex">

  {% assign page_handle = page.handle %}

  {% assign memberMarcel = "marcel" %}

  {% assign memberJade = "jade" %}

    {% assign memberJessica = "jessica" %}

    
    {% assign memberLil = "lil-peanut" %}
 <!-- Fourth Team Member -->
  <li {% if page_handle == memberJade %} class="thumb-active" {% endif %}>
    <a href="#">
<img src="{{ 'jade_e49dbb9f-4d59-48b8-8f3a-cc278c58da57.png' | file_url }}" class="img-fluid thumbnail-character" alt="{{ page.title | escape }}" width="85" height="auto">    </a>
  </li>


  <!-- Second Team Member (Active if page_handle is jassica) -->
  <li {% if page_handle == memberOmi %} class="thumb-active" {% endif %}>
    <a href="#">
      <img src="{{ 'omi.png' | file_url }}" class="img-fluid thumbnail-character" alt="{{ page.title | escape }}" width="62" height="auto">
    </a>
  </li>
  <!-- Third Team Member -->
  <li {% if page_handle == memberJessica %} class="thumb-active" {% endif %}>
    <a href="#">
      <img src="{{ 'team-2.png' | file_url }}" class="img-fluid thumbnail-character" alt="{{ page.title | escape }}" width="82" height="auto">
    </a>
  </li>
 

  <!-- Second Team Member (Active if page_handle is jassica) -->
  <li {% if page_handle == memberLil %} class="thumb-active" {% endif %}>
    <a href="#" class="align-items-center">
      <img src="{{ 'lil.png' | file_url }}" class="img-fluid thumbnail-character" alt="{{ page.title | escape }}" width="97" height="auto">
    </a>
  </li>


  <!-- Fifth Team Member (Marcel with a different image source) -->
  <li {% if page_handle == memberMarcel %} class="thumb-active" {% endif %}>
    <a href="#">
      <img src="{{ 'MARCEL.png' | file_url }}" class="img-fluid thumbnail-character" alt="{{ page.title | escape }}" width="auto" height="auto">
    </a>
  </li>
</ul>


