{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }


  .highlighter-color{
     color: rgba(var(--color-heading)) !important;
  }


.superhumn-title-{{ section.id }}{
  
    position:relative;
}

.characters-page{
  position:relative;
border-radius: 3px;
  border: 18px solid rgba(var(--color-heading));
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;    padding: 42px;
        max-width: 1090px;
        padding-left: 315px;
}

.character{    position: absolute;
    top: -90px;
    max-width: 366px;
    left: 10px;}
  


  .characters-content, .characters-content p{
    margin:0;
    font-family: "Zuume";
font-size: 45px;

font-weight: 600;

line-height:48px;

color: rgba(var(--color-foreground), 1);
  }

.superhumn-title-{{ section.id }}:after {
    content: '{{ page.title | escape }}';
       position: absolute;
 left: 0;
top: -24%;
  z-index: ;
  color: transparent;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgba(var(--color-heading)) !important;;
   left: 50%;
     transform: translateX(-50%);
  height: 33%;
   width:100%!important;
  overflow:hidden;
}


.superhumn-title-{{ section.id }}:before {
    content: '{{ page.title | escape }}';
    position:absolute;
     left: 50%;
     transform: translateX(-50%);
  top: -48%;
  z-index: -1;
  width:100%!important;
  color: transparent;
  -webkit-text-stroke-width: 2px;
-webkit-text-stroke-color: rgba(var(--color-heading)) !important;;

  height: 33%;
    overflow:hidden;
  
}

.page-width-auto{max-width: max-content!important;}

.hover-default{
  background: rgba(var(--color-heading)) !important;
}


{%- endstyle -%}


<div
  class="color-{{ section.settings.color_scheme }} isolate gradient position-relative py-40"
>



<div class="page-width page-width-auto section-{{ section.id }}-padding">
   
<div class="heading-cover position-relative">
  <h1 class="main-page-title page-title hxxl_5 highlighter-color h-190 superhumn-title-{{ section.id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {{ page.title | escape }}
  </h1>
</div>

  <div class="characters-page" {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}>

  
{% comment %} How to use meta data object {% endcomment %}

{% assign selected_option = page.metafields.custom.image %}
{% if selected_option %}
   <img src="{{ selected_option | file_url }}" alt="{{ page.title }}" class="img-fluid character">
{% else %}
  <p>No image found in metafields.</p>
{% endif %}


  <div class="characters-content">
    {{ page.content }}
  </div>



  </div>

 <div class="text-center">

  <a href="" class="button button-primary btn-large mt-5 hover-default">Back</a>

</div> 


</div>


</div>


{% schema %}
{
  "name": "Characters Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
