{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{{ 'section-main-characters-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  
.superhumn-title-{{ section.id }} {

  position: relative;
}
.superhumn-title-{{ section.id }}:after {
  content: '{{ page.title | escape }}';
 
}



.superhumn-title-{{ section.id }}:before {
  content: '{{ page.title | escape }}';
 
}

.team-thumbnail {
  margin: 100px 0 0 0;
  padding: 0;
  gap: 23px;
  align-content: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.team-thumbnail li{
  width:200px;
  height:200px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
border:8px solid rgba(255, 255, 255, 0.20);
background:#191919;
 transition:all 1s;
}

.team-thumbnail li:hover{
   border-color:rgba(var(--color-heading))!important;
}

.team-thumbnail li a {
  width:100%;
  height:100%;
    display: flex;
  justify-content: center;
  align-items: flex-end;
}

.team-thumbnail li a img{
  width: 100px;
  display: block;
}

.team-thumbnail img.thumbnail-character {
  max-width: 100px;
  height: auto;
}

.thumb-active{
 
  border-color:rgba(var(--color-heading))!important;
}



{%- endstyle -%}

<div
  class="color-{{ section.settings.color_scheme }} isolate gradient position-relative bg-character"
>
  <h1 class="grapical-text">MEET THE TEAM</h1>
  <div class="page-width page-width-auto section-{{ section.id }}-padding">
    <div class="heading-cover position-relative">
      <h1 class="main-page-title page-title hxxl_5 highlighter-color superhumn-title m-0 superhumn-title-{{ section.id }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"> {{ page.title | escape }} </h1>
    </div>
    <div class="characters-page {% if section.settings.section_img %} character-ms {% endif %}"   {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}>
    {% comment %} How to use meta data object {% endcomment %}
    
 
    
{% if section.settings.section_img %}

  <img src="{{ section.settings.section_img | img_url: 'master' }}" class="img-fluid character" alt=" {{ page.title | escape }} ">

{% endif %}


    <div class="characters-content"> {{ page.content }} 

    <div class="team-2-content">
 
</div>


    </div>
  </div>


  <div class="text-center"> <a href="/" class="button button-primary btn-large mt-1 hover-default transition-6ms">Back</a> </div>



{% comment %} Team thumbnail {% endcomment %}

{% render 'team-member' %}


  </div>


</div>




{% schema %}
{
  "name": "Characters Page",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    

 {
        "type": "image_picker",
        "id": "section_img",
        "label": "Character image"
      },

    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
