{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-image-banner-custom.css' | asset_url | stylesheet_tag }}


{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }


#Banner-{{ section.id }}::after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }




.light_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.light {
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.lightbase {
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);

  top: 50%;
}

.character-new {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.2) rotateX(var(--tiltX, 0deg))
    rotateY(var(--tiltY, 0deg));
  transition: transform 0.15s ease-out; /* smooth mouse tilt */
}

/* Individual final positions */
#jessica-new {
  --final-x: 309px;
  --final-y: 80px;
}
#omi-new {
  --final-x: -100px !important;
  --final-y: -66px !important;
}
#marce-new {
  --final-x: 268px;
  --final-y: -80px;
}
#Jade-new {
  --final-x: 100px;
  --final-y: -30px;
}

/* Fly in animation */

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.element-opacity {
  animation: opacity 10s forwards ease-in-out;
}
@keyframes floatMove {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  15% {
    /* around 1500ms if duration = 10s */
    opacity: 0;
  }
  16% {
    opacity: 1;
  }
  25% {
    transform: translate(-49.5%, -49.5%);
  }
  50% {
    transform: translate(-50.5%, -50.5%);
  }
  75% {
    transform: translate(-49.5%, -49.5%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

.element {
  animation: floatMove 10s infinite ease-in-out;
}

.fly-in {
  animation: flyIn 1.5s ease forwards;
}

@keyframes flyIn {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2) rotateX(var(--tiltX, 0deg))
      rotateY(var(--tiltY, 0deg));
  }
  100% {
    opacity: 1;
    transform: translate(
        calc(-50% + var(--final-x)),
        calc(-50% + var(--final-y))
      )
      scale(1) rotateX(var(--tiltX, 0deg)) rotateY(var(--tiltY, 0deg));
  }
}

/* Floating stays relative to final position */
.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(
        calc(-50% + var(--final-x)),
        calc(-50% + var(--final-y))
      )
      scale(1) rotateX(var(--tiltX, 0deg)) rotateY(var(--tiltY, 0deg));
  }
  50% {
    transform: translate(
        calc(-50% + var(--final-x) - 10px),
        calc(-50% + var(--final-y) - 8px)
      )
      scale(1.05) rotateX(var(--tiltX, 0deg)) rotateY(var(--tiltY, 0deg));
  }
  100% {
    transform: translate(
        calc(-50% + var(--final-x)),
        calc(-50% + var(--final-y))
      )
      scale(1) rotateX(var(--tiltX, 0deg)) rotateY(var(--tiltY, 0deg));
  }
}
.banner-new {
  background: linear-gradient(to top, #0a0a2a, #2a2a72);
  background-image: url("https://cdn.shopify.com/s/files/1/0610/8938/2550/files/Section.png?v=1757599588");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
  {%- endstyle -%}
{%- endif -%}




{%- liquid
  assign full_width = '100vw'
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'

  if section.settings.image_behavior == 'ambient'
    assign half_width = '60vw'
    assign full_width = '120vw'
    assign stacked_sizes = '(min-width: 750px) 60vw, 120vw'
    assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
  elsif section.settings.image_behavior == 'fixed' or section.settings.image_behavior == 'zoom-in'
    assign half_width = '100vw'
    assign stacked_sizes = '100vw'
  else
    assign half_width = '50vw'
    assign stacked_sizes = '(min-width: 750px) 50vw, 100vw'
  endif
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner-new banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank and section.settings.image_2 != blank %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
>

{% comment %} 
<div class="text-behind-shadow"></div> {% endcomment %}

  {%- if section.settings.image != blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        if section.settings.image_2 != blank
          assign image_class = 'banner__media-image-half'
        endif
        if section.settings.image_2 != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}



 <img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/MARCE_1.png?v=1757479367" alt="Marce" id="marce-new" class="character-new" data-final="200,50">

<img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/JESSICA_1.png?v=1757479366" alt="Jessica" id="jessica-new" class="character-new " data-final="-0,0">

<img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/OMI_1.png?v=1757479366" alt="OMI" id="omi-new" class="character-new" data-final="0,-100">

<img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/JADE_1_1.png?v=1757479367" alt="Jade" id="Jade-new" class="character-new" data-final="0,150">
<div class="light_wrapper element-opacity" id="wrapper-lght">

  <img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/EFFECTS_2_1_1.png?v=1757554969" class="light">

  <img src="https://cdn.shopify.com/s/files/1/0610/8938/2550/files/EFFECTS_2_1_1.png?v=1757554969" class="lightbase element">

</div>




      </div>

    <script src="{{ 'parallex.js' | asset_url }}" defer="defer"></script>




      {% comment %} {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: widths, data-parallax="scroll" data-image-src="/path/to/image.jpg"
          fetchpriority: fetch_priority
      }} {% endcomment %}
    </div>
  {%- elsif section.settings.image_2 == blank -%}
    <div class="banner__media media{% if section.settings.image == blank and section.settings.image_2 == blank %} placeholder{% endif %}{% if section.settings.image_2 != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  {%- if section.settings.image_2 != blank -%}
    <div class="banner__media media{% if section.settings.image != blank %} banner__media-half{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      {%- liquid
        assign image_height_2 = section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio
        if section.settings.image != blank
          assign image_class_2 = 'banner__media-image-half'
        endif
        if section.settings.image != blank and section.settings.stack_images_on_mobile
          assign sizes = stacked_sizes
        elsif section.settings.image_2 != blank
          assign sizes = half_width
        else
          assign sizes = full_width
        endif
      -%}
      {{
        section.settings.image_2
        | image_url: width: 3840
        | image_tag:
          width: section.settings.image_2.width,
          height: image_height_2,
          class: image_class_2,
          sizes: sizes,
          widths: widths,
          fetchpriority: fetch_priority
      }}
    </div>
  {%- endif -%}
  <div class=" banner__content banner__content--{{ section.settings.desktop_content_position }} page-width superhumn-image-banner caption-wrapper full-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="banner__box position-relative content-container content-container--full-width-mobile color-{{ section.settings.color_scheme }} gradient full-width">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2
              class="banner__heading inline-richtext heading fs-italic {{ block.settings.heading_size }} text-shadow"
              {{ block.shopify_attributes }}
            >
              {{ block.settings.heading }}
            </h2>
       
       
            {%- when 'text' -%}
            <div class="banner__text rte text-bg {{ block.settings.text_style }}" {{ block.shopify_attributes }} style="background:url({{ 'text-bg.svg' |  asset_url }})">
              <p>{{ block.settings.text }}</p>
            </div>


          {%- when 'buttons' -%}
            <div
              class="banner__buttons{% if block.settings.button_label_1 != blank and block.settings.button_label_2 != blank %} banner__buttons--multiple{% endif %}"
              {{ block.shopify_attributes }}
            >
              {%- if block.settings.button_label_1 != blank -%}
                <a
                  {% if block.settings.button_link_1 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_1 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_1 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_1 | escape -}}
                </a>
              {%- endif -%}
              {%- if block.settings.button_label_2 != blank -%}
                <a
                  {% if block.settings.button_link_2 == blank %}
                    role="link" aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link_2 }}"
                  {% endif %}
                  class="button{% if block.settings.button_style_secondary_2 %} button--secondary{% else %} button--primary{% endif %}"
                >
                  {{- block.settings.button_label_2 | escape -}}
                </a>
              {%- endif -%}
            </div>


              {%- when 'caption' -%}


                
                  <p
                    class="caption-text caption-bar image-with-text__text fw-900 {{ block.settings.text_style }} {{ block.settings.text_style }} {{ block.settings.text_size }} {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                  >
      
                {% if block.settings.caption %}
    <span class="text-shadow">{{ block.settings.caption | escape }}</span> 

                {% endif %}

{% if block.settings.caption2 %}
    {% comment %} <mark>{{ block.settings.caption2 | escape }}</mark>  {% endcomment %}
<span class="text-shadow">{{ block.settings.caption2 | escape }}</span> 
     {% endif %}
{% if block.settings.caption3 %}
    <span  class="text-shadow">{{ block.settings.caption3 | escape }}</span> 
{% endif %}

                 
                 
                 
                    </p>



        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script> {% endcomment %}

      <script>

        document.addEventListener("DOMContentLoaded", function() {

    
function flyImage(selector, delay = 0) {
  const el = document.querySelector(selector);
  if (!el) return;

  setTimeout(() => {
    el.classList.add("fly-in");
    el.addEventListener(
      "animationend",
      () => {
        el.style.opacity = "1";
        el.classList.add("floating");
      },
      { once: true }
    );
  }, delay);
}

// character-news enter one by one
flyImage("#jessica-new", 2000);
flyImage("#omi-new", 1500);
flyImage("#marce-new", 2500);
flyImage("#Jade-new", 500);

document.addEventListener("mousemove", (e) => {
  const { innerWidth, innerHeight } = window;
  const moveX = (e.clientX - innerWidth / 2) / 40;
  const moveY = (e.clientY - innerHeight / 2) / 40;

  document.querySelectorAll(".character-new").forEach((img) => {
    img.style.setProperty("--tiltX", `${-moveY}deg`);
    img.style.setProperty("--tiltY", `${moveX}deg`);
  });
});

// ✅ Reset tilt when mouse leaves the window
window.addEventListener("mouseout", (e) => {
  if (!e.relatedTarget && !e.toElement) {
    document.querySelectorAll(".character-new").forEach((img) => {
      img.style.setProperty("--tiltX", `0deg`);
      img.style.setProperty("--tiltY", `0deg`);
    });
  }
});});



      </script>
{% schema %}
{
  "name": "Superhumn new banner",
  "tag": "section",
  "class": "section suberhumn-banner",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:sections.image-banner.settings.image_2.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner.settings.image_height.label",
      "info": "t:sections.image-banner.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.desktop_content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "fixed",
          "label": "t:sections.all.animation.image_behavior.options__3.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "t:sections.image-banner.settings.mobile.content"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-banner.blocks.heading.settings.heading.default",
          "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
        },
          {
          "type": "select",
          "id": "heading_size",
           "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-banner.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.image-banner.blocks.text.settings.text.default",
          "label": "t:sections.image-banner.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-banner.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-banner.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.image-banner.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_1",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "default": "t:sections.image-banner.blocks.buttons.settings.button_label_2.default",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
          "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary_2",
          "default": false,
          "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
        }
      ]
    },
       {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
          "label": "Text label first"
        },

        {
          "type": "text",
          "id": "caption2",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
           "label": "Text label between"
        },

        {
          "type": "text",
          "id": "caption3",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
           "label": "Text label last"
        },


        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "fs-48",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "h1",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "fs-48",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Superhumn new banner",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "buttons"
        },
         {
          "type": "caption"
        }
      ]
    }
  ]
}
{% endschema %}
