{{ 'text-scroller.css' | asset_url | stylesheet_tag }}

{%  style  %} 
.text-scroller{
    width:100%;
    min-height:170px;
}
.text-scroller-items{ margin:0; padding:0;
 border: 12px solid #FFF;
    border-left: 0;
    border-right: 0;
  
  }
.text-scroller-items li{
    /* color:  var(--color-yellow); */
  font-family: "Zuume";
font-size: 136.488px;

font-weight: 900;

letter-spacing: 2.73px;
display: inline-block;
  position: relative;
  padding: 0 36px;

}
.text-scroller-items li:after{
content: '';
  background: url({{'power-1.svg' |  asset_url }});
    background-repeat: repeat;
 width: 61px;
  height: 93px;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  left: -30px;
 
}




{% endstyle %} 

<div class="text-scroller color-{{ section.settings.color_scheme }} gradient"     >

<ul class="text-scroller-items">

  {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'text' -%}

           <li {{ block.shopify_attributes }} >  {{ block.settings.scroll_text }} </li>

            {% endcase %}

        {% endfor %}


</ul>


</div>
    
    

 
{% schema %}
{
  "name": "Text Scroller",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Add text as a block"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Choose Color",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {
      "name": "text",
      "type": "text",
      "settings": [
       {
          "type": "text",
          "id": "scroll_text",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
           "label": "Scroll text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text Scroller",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }
  ]
}

{% endschema %}